<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Indicate TV compatibility; not strictly required so app installs on non-TV as well -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:label="@string/app_name"
        android:usesCleartextTraffic="false"
        android:banner="@drawable/tv_banner">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- For standard Android launchers -->
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- For Android TV home/leanback launcher -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
